.wrapper-navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 70px;
    text-transform: uppercase;
}

.link-navbar{
    text-decoration: none;
    color: #05B8FE;
}