.wrapper-footer {
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
}

@media (max-width: 500px) {
    .wrapper-footer {
        height: 50px;
        font-size: 14px;
    }
}
