*{
    font-family: Arial, sans-serif;
}

/* INICIO */
.wrapper-inicio{
    justify-content: center;
    text-align: justify;
}

.wrapper-hero-inicio{
    background-image: url(/src/assets/img/wallpaper-inicio.jpg);
    background-size: cover;
    color: aliceblue;
    padding: 20px;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.hero-inicio{
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.hero-inicio h1 {
    text-transform: uppercase;
    font-weight: bold;
}

.wrapper-titulo{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-parrafos-inicio{
    padding-top: 30px;
}

.hero-inicio p {
    text-align: justify;
}

.container-cards-incio{
    display: flex;
    flex-direction: row;
}

.card-individual {
    background-color: rgba(34, 49, 131, 0.342);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    margin: 50px auto;
}

.card-individual:hover{
    background-color: rgba(0, 140, 255, 0.308);
}

.card-individual h1 {
    text-align: center;
    color: #fffcfc;
    font-size: 24px;
    margin-bottom: 20px;
}

.card-individual p {
    color: #fffcfc;
    font-size: 16px;
    line-height: 1.5;
}

@media (max-width: 500px) {
    .wrapper-hero-inicio {
        padding: 10px;
        height: auto;
    }

    .hero-inicio {
        padding: 10px;
    }

    .container-cards-incio {
        flex-direction: column;
        align-items: center;
    }

    .card-individual {
        margin: 20px auto;
    }
}



/* PRODUCTOS */
.wrapper-Productos{
    background-image: url(/src/assets/img/wallpaper-inicio.jpg);
    background-size: cover;
    text-align: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.wrapper-Productos h1{
    font-weight: bold;
    text-transform: uppercase;
    padding: 40px;
}

.wrapper-Productos p{
    text-align: justify;
    padding-bottom: 20px;
}

.productos-slider-container {
    max-width: 1000px;
    margin: 0 auto;
}

.productos-slider {
    display: flex;
    width: 300%;
    animation: slide 40s infinite;
}

.productos-card {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: rgb(117 190 218 / 0.1);
    border-radius: 1%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    66.66% {
        transform: translateX(-80%);
    }

    100% {
        transform: translateX(0);
    }
}

.wrapper-body{
    margin-top: 50px;
    max-width: 1000px;
    text-align: justify;
    margin-bottom: 50px;
}

@media (max-width: 501px) {
    .wrapper-Productos {
        padding: 20px;
        min-height: 100vh;
    }

    .wrapper-Productos h1 {
        padding: 20px 0;
    }

    .productos-slider-container {
        max-width: 100%;
        padding: 0 20px;
        margin-bottom: -20px;
        overflow: hidden;

    }

    .productos-slider {
        width: 300px;
        animation: slide 20s infinite;
    }

    @keyframes slide {
        0% {
            transform: translateX(0);
        }
        50.66% {
            transform: translateX(-800%);
        }
        100% {
            transform: translateX(0);
        }
    }

    .productos-card {
        min-width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .wrapper-body {
        max-width: 100%;
        margin-bottom: 50px;
    }
}




/* SERVICIOS */
.wrapper-servicios{
    background-image: url('../src/assets/img/wallpaper-servicios.jpg');
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.wrapper-servicios h1{
    font-weight: bold;
}

.container-servicios {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
}

.container-titulo-servicios{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 25px;
}

.container-servicios h2 {
    margin-top: 40px;
}

.container-servicios p {
    margin-bottom: 20px;
}

.container-servicios img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}



/* EQUIPO */
.wrapper-wrapper-equipo {
    background-image: url(../src/assets/img/wallpaper-equipo.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, sans-serif;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.wrapper-equipo {
    max-width: 1000px;
    width: 100%;
}

.wrapper-equipo h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    font-weight: bold;
}

.tabla-integrantes {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: rgba(1, 6, 8, 0.904);
    color: white;
}

.tabla-integrantes th{
    text-transform: uppercase;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabla-integrantes td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.tabla-integrantes tr:hover {
    background-color: #f5f5f5;
    color: black;
}

.container-tabla-datos{
    padding-top: 100px;
}

.tabla-datos {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    background-color: rgba(1, 6, 8, 0.904);
    color: white;
}

.tabla-datos th{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabla-datos td{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabla-datos tr:hover {
    background-color: #f5f5f5;
    color: black;
}

.tabla-datos td:hover {
    background-color: #f5f5f5;
    color: black;
}

@media (max-width: 800px) {
    .wrapper-equipo {
        height: 100%;
    }

    .wrapper-equipo h1 {
        font-size: 18px;
        padding: 10px;
    }

    .tabla-integrantes th,
    .tabla-integrantes td {
        padding: 5px;
    }

    .tabla-datos th,
    .tabla-datos td {
        padding: 3px;
    }
}



/* CONTACTO */
.wrapper-contacto {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url(../src/assets/img/wallpaper-contacto.jpg);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.hero-wrapper {
    padding-top: 50px;
    width: 1000px;
}

.hero-wrapper h1{
    text-transform: uppercase;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.hero-wrapper .form-group {
    margin-bottom: 20px;
}

.hero-wrapper label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
    color:rgb(255, 255, 255);
}

.hero-wrapper input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.507);
}

.hero-wrapper textarea {
    resize: vertical;
    height: 120px;
}

.hero-wrapper .btn {
    display: inline-block;
    background-color: #00000094;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 500px) {
    .hero-wrapper h1 {
        font-size: 20px;
    }

    .hero-wrapper input,
    .hero-wrapper textarea {
        padding: 6px;
    }

    .hero-wrapper textarea {
        height: 60px;
    }
}